* {
  margin: 0;
  padding: 0;
}

body {
  background: url("assets/images/Background_space.png") top left no-repeat;
  background-size: cover;
  color: white;
}

main {
  width: 800px;
  position: relative;
  margin: 50px auto;
}

@font-face {
  font-family: "04b30";
  src: url("assets/fonts/04b_30__-webfont.woff2") format("woff2"), url("assets/fonts/04b_30__-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "04b30";
  font-weight: 400;
  font-size: 70px;
}

.rainbow-text {
  /* font-family: Comic Sans MS, cursive, sans-serif; */
  text-align: center;
  font-weight: bold;
  /* font-size: 100px; */
}
.rainbow-text .block-line > span {
  display: inline-block;
}
span.block-line > span {
  /* background-image: linear-gradient(90deg, #c7b601, #e39209, #f66c1c, #fe4838, #fb295b, #ed1180, #d504a6, #b601c8, #910ae3, #6b1df6, #4739fe, #285bfb, #1181ed, #03a6d5); */
  background-image: linear-gradient(90deg, #f66c1c, #fe4838, #fb295b, #ed1180, #d504a6, #b601c8, #910ae3, #6b1df6, #4739fe, #285bfb, #1181ed, #03a6d5);
  color: #0000;
  -webkit-background-clip: text;
  background-clip: text;
}

.rainbow-text img {
  scale: 2;
  margin: 0 15px;
}

h2 {
  font-size: 18px;
  text-align: center;
}

h3 {
  text-align: center;
  margin: 40px auto;
}

hr {
  margin: 50px 0;
}

.is-light {
  background-color: rgba(255, 250, 250, 0.6);
}

.updatelog {
  background-color: #222;
  color: aqua;
  padding: 10px 0 5px 0;
  margin: 50px 0;
}

#adoptable_kittens {
  border-collapse: collapse;
  border: none;
  width: 100%;
}

#adoptable_kittens .nes-btn {
  background-color: #910ae3;
  color: white;
}

#adoptable_kittens td {
  text-align: center;
  border: 1px solid rgba(255, 250, 250, 0.6);
  padding: 10px;
}

.kitten {
  scale: 1.5;
  margin: 0 auto;
}

.counter {
  margin: 50px auto;
  text-align: center;
}
